<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="tableau-de-bord">
              <i class="menu-icon mdi mdi-floor-plan"></i>
              <span class="menu-title">Tableau de bord</span>
            </a>
          </li>
      
         

          <li class="nav-item">
            <a class="nav-link"  href="clients"  >
              <i class="menu-icon mdi mdi-account-multiple-outline "></i>
              <span class="menu-title">Clients</span>
               
            </a>
           
          </li>
          
          <li class="nav-item">
            <a class="nav-link"  href="reservations" >
              <i class="menu-icon mdi mdi-clipboard-check "></i>
              <span class="menu-title">Réservations</span>
              
            </a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="packs" >
              <i class="menu-icon  mdi mdi-parking "></i>
              <span class="menu-title">Packs</span>
              
            </a>
           
          </li>
         
          
          
          
        </ul>
      </nav>