<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>ROYAL HOTEL | Responsive Travel & Tourism Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Favicons -->
        <link href="img/favicon.ico" rel="icon">
        <link href="img/apple-favicon.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet"> 

        <!-- Vendor CSS File -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="vendor/slick/slick.css" rel="stylesheet">
        <link href="vendor/slick/slick-theme.css" rel="stylesheet">
        <link href="vendor/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

        <!-- Main Stylesheet File -->
        <link href="css/hover-style.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
    </head>

    <body>
        <!-- Header Section Start -->
        <header id="header">
            <a href="index.html" class="logo"><img src="img/logo.jpg" alt="logo"></a>
            <div class="phone"><i class="fa fa-phone"></i>+1 234 567 8900</div>
            <div class="mobile-menu-btn"><i class="fa fa-bars"></i></div>
            <nav class="main-menu top-menu">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="about.html">About Us</a></li>
                    <li><a href="room_vol.html">Rooms</a></li>
                    <li><a href="amenities.html">Amenities</a></li>
                    <li><a href="booking.html">Booking</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- Header Section End -->
        
        <!-- About Section Start -->
        <div id="about">
            <div class="container">
                <div class="section-header">
                    <h2>À propos</h2>
                    <p>
                        Nous sommes une entreprise dédiée à fournir des services de haute qualité dans le domaine développement . Notre équipe expérimentée et passionnée est composée de professionnels compétents et engagés qui s'efforcent constamment de répondre aux besoins de nos clients. Avec notre expertise approfondie dans le domaine développement et de voyage , nous offrons des solutions innovantes et personnalisées pour aider nos clients à atteindre leurs objectifs.
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-6 img-cols">
                        <div class="img-col">
                            <img class="img-fluid" src="img/about/plage1.webp">
                        </div>
                    </div>
                    <div class="col-md-6 content-cols">
                        <div class="content-col">
                            <h3>Al Hoceima</h3>
                            <p>
                                La ville d'Al Hoceima, surnommée la "Perle de la Méditerranée", regorge de plages magnifiques qui sont faciles à découvrir. Que vous souhaitiez vous détendre, vous baigner ou vivre une expérience en pleine nature, vous y trouverez tout ce que vous recherchez. La plage de Quemado, particulièrement populaire, offre une eau cristalline et un sable d'une douceur incomparable. À proximité, vous trouverez également de nombreux bars, restaurants et boutiques où vous pourrez déguster la délicieuse cuisine marocaine et trouver des souvenirs pour agrémenter vos vacances.
                            </p>
                            <a href="https://www.infostourismemaroc.com/ville/al-hoceima-maroc">En savoir plus</a>
                        </div>
                    </div>
                </div>
                
                <hr>
                
                <div class="row">
                    <div class="col-md-6 img-cols d-block d-md-none">
                        <div class="img-col">
                            <img class="img-fluid" src="img/about/marrakech.webp">
                        </div>
                    </div>
                    <div class="col-md-6 content-cols">
                        <div class="content-col">
                            <h3>Marrakech</h3>
                            <p>
                                Marrakech, la "Perle du Sud", est une ville enchanteresse au pied des montagnes de l'Atlas. La place Jemaa el-Fna est animée par des conteurs et des musiciens. La médina regorge de souks colorés et de trésors. Les palais majestueux, tels que Bahia et El Badi, reflètent l'élégance passée. Les jardins comme Majorelle offrent une oasis de calme. La cuisine marocaine et l'atmosphère captivante font de Marrakech une destination inoubliable.
                            </p>

                            <a href="https://www.infostourismemaroc.com/ville/marrakech-maroc">En savoir plus</a>
                        </div>
                    </div>
                    <div class="col-md-6 img-cols d-none d-md-block">
                        <div class="img-col">
                            <img class="img-fluid" src="img/about/marrakech.webp">
                        </div>
                    </div>
                </div>
                
                <hr>
                
                <div class="row">
                    <div class="col-md-6 img-cols">
                        <div class="img-col">
                            <img class="img-fluid" src="img/about/casa.jpg">
                        </div>
                    </div>
                    <div class="col-md-6 content-cols">
                        <div class="content-col">
                            <h3>Casablanca</h3>
                            <p>

                                Casablanca, la plus grande ville du Maroc, est une métropole dynamique située sur la côte atlantique. Connue pour son architecture moderne, ses plages animées et sa vie nocturne animée, Casablanca offre une atmosphère urbaine vibrante. La célèbre mosquée Hassan II, avec son impressionnant minaret au-dessus de l'océan, est un incontournable.Casablanca est également une destination de choix pour les amateurs de shopping et de gastronomie.

                            </p>

                            <a href="https://www.infostourismemaroc.com/ville/casablanca-maroc">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Section End -->
        
        <!-- Footer Section Start -->
        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="social">
                            <a href=""><li class="fa fa-instagram"></li></a>
                            <a href=""><li class="fa fa-twitter"></li></a>
                            <a href=""><li class="fa fa-facebook-f"></li></a>
                        </div>
                    </div>
                    <div class="col-12">
                        <p>Copyright &#169; 2045 <a href="">Your Site Name</a> All Rights Reserved.</p>
						
						<!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
						<p>Designed By <a href="https://htmlcodex.com">HTML Codex</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Section End -->
        
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <!-- Vendor JavaScript File -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/jquery/jquery-migrate.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="vendor/easing/easing.min.js"></script>
        <script src="vendor/stickyjs/sticky.js"></script>
        <script src="vendor/superfish/hoverIntent.js"></script>
        <script src="vendor/superfish/superfish.min.js"></script>
        <script src="vendor/wow/wow.min.js"></script>
        <script src="vendor/slick/slick.min.js"></script>
        <script src="vendor/tempusdominus/js/moment.min.js"></script>
        <script src="vendor/tempusdominus/js/moment-timezone.min.js"></script>
        <script src="vendor/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
        
        <!-- Booking Javascript File -->
        <script src="js/booking.js"></script>
        <script src="js/jqBootstrapValidation.min.js"></script>
  
        <!-- Main Javascript File -->
        <script src="js/main.js"></script>
    </body>
</html>
