<!-- Footer Section Start -->
        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="social">
                            <a href=""><li class="fa fa-instagram"></li></a>
                            <a href=""><li class="fa fa-twitter"></li></a>
                            <a href=""><li class="fa fa-facebook-f"></li></a>
                        </div>
                    </div>
                    <div class="col-12">
                        <p>Explorez le monde avec nous ! Découvrez des destinations exotiques, des aventures inoubliables et des moments de détente parfaits. Notre équipe passionnée de voyage est là pour vous aider à réaliser vos rêves.  <p>    <a href="">Réservez dès maintenant et commencez votre prochaine aventure avec nous !</a></p> </p>

                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Section End -->
        
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <!-- Vendor JavaScript File -->
        <script src="client/vendor/jquery/jquery.min.js"></script>
        <script src="client/vendor/jquery/jquery-migrate.min.js"></script>
        <script src="client/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="client/vendor/easing/easing.min.js"></script>
        <script src="client/vendor/stickyjs/sticky.js"></script>
        <script src="client/vendor/superfish/hoverIntent.js"></script>
        <script src="client/vendor/superfish/superfish.min.js"></script>
        <script src="client/vendor/wow/wow.min.js"></script>
        <script src="client/vendor/slick/slick.min.js"></script>
        <script src="client/vendor/tempusdominus/js/moment.min.js"></script>
        <script src="client/vendor/tempusdominus/js/moment-timezone.min.js"></script>
        <script src="client/vendor/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
        
        <!-- Contact Javascript File -->
        <script src="client/js/jqBootstrapValidation.min.js"></script>
        <script src="client/js/contact.js"></script>
        
        <!-- Main Javascript File -->
        <script src="client/js/main.js"></script>
    </body>
</html>
