
<div th:insert="~{client/header.html}"></div>

<!-- Search Section Start -->
<form action="/rechercher" method="post">
<div id="search" style="background: #f2f2f2;">
    <div class="container">
        <div class="form-row">
            <div class="control-group col-md-3">
                <div class="form-row">
                    <div class="control-group col-md-6">
                        <label for="ville">Ville</label>
                        <div class="custom-select2">
                            <select id="ville" name="ville"></select>
                        </div>
                    </div>
                </div>
            </div>
            <script>
var villes = [
  "Marrakech",
  "Casablanca",
  "Tanger",
  "Agadir",
  "Essaouira",
  "Rabat",
  "Ifran",
  "Fès",
  "Paris",
  "Dubaï",
  "Singapour",
  "New York",
  "Istanbul",
  "Londres",
  "Tokyo",
  "Barcelone",
  "Berlin"
];


  function genererOptionsVilles(elementId) {
    var select = document.getElementById(elementId);
    for (var i = 0; i < villes.length; i++) {
      var option = document.createElement("option");
      option.value = villes[i];
      option.textContent = villes[i];
      select.appendChild(option);
    }
  }

    
    genererOptionsVilles('ville');
  

</script>
            <div class="control-group col-md-3">
                <label>date de départ</label>
                <div class="form-group">
                    <div class="input-group date" id="date-3" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" name="checkin"  data-target="#date-3"/>
                        <div class="input-group-append" data-target="#date-3" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="control-group col-md-3">
                <label>date de retour</label>
                <div class="form-group">
                    <div class="input-group date" id="date-4" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" name="checkout" data-target="#date-4"/>
                        <div class="input-group-append" data-target="#date-4" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="control-group col-md-3">
                <div class="form-row">
                    <div class="control-group col-md-6">
                        <label>Adulte(s)</label>
                        <select class="custom-select" name="g_ad">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                    <div class="control-group col-md-6 kid">
                        <label>Enfant(s)</label>
                        <select class="custom-select" name="g_ch" >
                            <option selected>0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>

                </div>
            </div>
            <div class="control-group col-md-3">
                <div class="form-row">
                    <div class="control-group col-md-6 ">
                        <label>Chambre(s)</label>
                        <select class="custom-select" name="n_r">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>

        <div class="control-group col-md-3">
            <button class="btn btn-block">rechercher</button>
        </div>
    </div>
</div>
</div>
</form>
<!-- Search Section End -->

<!-- Room Section Start -->
<div id="rooms">
    <div class="container">
        <div class="section-header">
            <h2>Nos héberegements</h2>
            
        </div>
        <div class="row">
			
			 <div th:each="result : ${results}">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <div class="room-img">
                            <div class="box12">
                                <img th:src="${result.img}">
                                <div class="box-content">
                                    <h3 class="title" > </h3>
                                    <ul class="icon">
                                        <li><a href="#" data-toggle="modal" data-target="#modal-id"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="room-des">
                            <h3><a href="#" data-toggle="modal" th:text="${result.nom_h}"data-target="#modal-id"></a></h3>
                            <p th:text="${result.descrip}"></p>
                            <!--
                            <ul class="room-size">
                                <li><i class="fa fa-arrow-right"></i>Size: 260 sq ft </li>
                                <li><i class="fa fa-arrow-right"></i>Beds: 2 Single(s) </li>
                            </ul> !-->
                            <ul class="room-icon">
                                <li class="icon-1"></li>
                                <li class="icon-2"></li>
                                <li class="icon-3"></li>
                                <li class="icon-4"></li>
                                <li class="icon-5"></li>
                                <li class="icon-6"></li>
                                <li class="icon-7"></li>
                                <li class="icon-8"></li>
                                <li class="icon-9"></li>
                                <li class="icon-10"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="room-rate">
                            <h3>Prix</h3>
                            <h2 th:text="${result.prix}"></h2>
                            <a href="#">Book Now</a>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
			 </div>


           
          
          
        </div>
    </div>
</div>
<!-- Room Section End -->

<!-- Modal for Room Section Start -->

<!-- Modal for Room Section End -->
    <div th:insert="~{client/footer.html}"></div></div>div>